<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %highlight{[%t] %-5level %logger{36}}{ERROR=red bright, INFO=null bright, DEBUG=blue bright} : %msg%n\n"/>
        </Console>

        <Console name="mongoCon" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %highlight{%-5level %logger{36}}{ERROR=red bright, INFO=null bright, DEBUG=green bright}\t: %msg%n\n"/>
        </Console>

    </Appenders>
    <Loggers>
        <logger name="org.mongodb.driver" level="ERROR" additivity="false">
            <appender-ref ref="mongoCon" />
        </logger>

        <Root level="ALL">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>