.label {
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}

.background {
    -fx-background-color: #92d36e;
}

.vrchniPanel {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #aedd94;
    -fx-border-width: 2.5;
}

.tlacitkoAplikace {
    -fx-background-color: #dfedd6;
    -fx-background-radius: 13;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 13;
    -fx-padding: 5 10 5 10;
    -fx-alignment: baseline-center;
}

.labelAplikace {
    -fx-font-size: 12;
}

.nadpisLabel {
    -fx-font-size: 30;
}

